+++
title = "Hector9000"
linkTitle = "Hector9000"

+++

{{< blocks/cover title="Welcome to Hector9000" image_anchor="top" height="full" color="orange" >}}
<div class="mx-auto">
	<a class="btn btn-lg btn-secondary mr-3 mb-4" href="https://github.com/H3c702/Hector9000-Image/releases">
		Download Raspberry Image<i class="fab fa-github ml-2 "></i>
	</a>
	<p class="lead mt-4">more information</p>
	{{< blocks/link-down color="info" >}}
</div>
{{< /blocks/cover >}}



{{% blocks/lead color="primary" %}}
Hector9000 is the barbot for your Hackerspace or your private bar at home.
Full off electronics and with a nice webui to controll it.

And there is also a great documentation.
{{% /blocks/lead %}}



{{< blocks/section color="white" >}}

{{% blocks/feature icon="fa-solid fa-file" title="Visit us at **[Hackaday.io](https://hackaday.io/project/161585-hector-9000)**" %}}
{{% /blocks/feature %}}



{{% blocks/feature icon="fab fa-github" title="Help welcome!" url="https://github.com/H3c702/Hector9000" %}}
New people are always welcome.
{{% /blocks/feature %}}


{{% blocks/feature icon="fab fa-instagram" title="Follow us on instagram!" url="https://www.instagram.com/hectorbot.de/" %}}
Here we are posting news and pics.
{{% /blocks/feature %}}


{{< /blocks/section >}}





