+++
title = "Hector9000"
linkTitle = "Hector9000"

+++
{{< blocks/cover title="Wilkommen beim Hector9000" image_anchor="top" height="full" color="orange" >}}
<div class="mx-auto">
	<a class="btn btn-lg btn-secondary mr-3 mb-4" href="https://github.com/H3c702/Hector9000-Image/releases">
		Download Raspberry Image<i class="fab fa-github ml-2 "></i>
	</a>
	<p class="lead mt-4">Weitere Infos</p>
	{{< blocks/link-down color="info" >}}
</div>
{{< /blocks/cover >}}


{{% blocks/lead color="primary" %}}
Hector900 ist der Barbot für deinen Hacker und Makerspace oder auch für deine Bar zu Hause.
Voll mit schönster Technik und einer WebUI die die Bedienung einfach macht.

Eine gute Doku für den Zusammenbau gibt es natürlich auch.
{{% /blocks/lead %}}



{{< blocks/section color="white" >}}

{{% blocks/feature icon="fa-solid fa-file" title="Besucht uns auf **[Hackaday.io](https://hackaday.io/project/161585-hector-9000)**" %}}
{{% /blocks/feature %}}



{{% blocks/feature icon="fab fa-github" title="Mitarbeit wilkommen!" url="https://github.com/H3c702/Hector9000" %}}
Neue Entwickler und Benutzer sind immer wilkommen.
{{% /blocks/feature %}}


{{% blocks/feature icon="fab fa-instagram" title="Folgt uns auf instagram!" url="https://www.instagram.com/hectorbot.de/" %}}
Neues und interesantes posten wir auch hier.
{{% /blocks/feature %}}


{{< /blocks/section >}}





